### Lists

In [1]:
list1 = ['apple', 'banana', 'orange']
list1

['apple', 'banana', 'orange']

In [2]:
list2 = [7, 11, 13, 17, 19]
list2

[7, 11, 13, 17, 19]

In [3]:
list3 = ['text', 23, 66, -1, [0, 1]]
list3

['text', 23, 66, -1, [0, 1]]

In [4]:
empty = []
empty

[]

In [5]:
list1[0]

'apple'

In [6]:
list1[-1]

'orange'

In [7]:
list1[-2]

'banana'

In [8]:
'orange' in list1

True

In [9]:
'pineapple' in list1

False

In [10]:
0 in list3

False

In [11]:
0 in list3[-1]

True

In [12]:
None in empty

False

In [13]:
66 in list3

True

In [14]:
len(list2)

5

In [15]:
len(list3)

5

In [16]:
del list2[2]
list2

[7, 11, 17, 19]

In [17]:
new_list = list1 + list2
new_list

['apple', 'banana', 'orange', 7, 11, 17, 19]

In [18]:
new_list * 2

['apple',
 'banana',
 'orange',
 7,
 11,
 17,
 19,
 'apple',
 'banana',
 'orange',
 7,
 11,
 17,
 19]

In [19]:
[new_list] * 3

[['apple', 'banana', 'orange', 7, 11, 17, 19],
 ['apple', 'banana', 'orange', 7, 11, 17, 19],
 ['apple', 'banana', 'orange', 7, 11, 17, 19]]

In [20]:
list2

[7, 11, 17, 19]

In [21]:
list2.append(23)
list2

[7, 11, 17, 19, 23]

In [22]:
#list.insert(index, obj)

list2.insert(0, 5)
list2

[5, 7, 11, 17, 19, 23]

In [23]:
list2.insert(6, 29)
list2

[5, 7, 11, 17, 19, 23, 29]

In [24]:
list2.insert(len(list2), 101)
list2

[5, 7, 11, 17, 19, 23, 29, 101]

In [25]:
list2.insert(-1, 999) #it doesn't insert in the last position! :/
list2

[5, 7, 11, 17, 19, 23, 29, 999, 101]

In [26]:
list2.remove(999) #remove the item 999
list2

[5, 7, 11, 17, 19, 23, 29, 101]

In [27]:
list2.remove(list2[-1]) #here removed the last one!
list2

[5, 7, 11, 17, 19, 23, 29]

In [28]:
l1 = [1, 2]
l2 = [3, 4]
l1.extend(l2)
l1

[1, 2, 3, 4]

In [29]:
l2

[3, 4]

In [30]:
list_unsorted = [10, 3, 7, 12, 1, 20]
list_unsorted.sort()
list_unsorted

[1, 3, 7, 10, 12, 20]

In [31]:
l1

[1, 2, 3, 4]

In [32]:
l2

[3, 4]

In [33]:
l2 = l1.copy()

In [34]:
l2

[1, 2, 3, 4]

In [35]:
l2 == l1

True

In [36]:
id(l1)

140494028458952

In [37]:
id(l2)

140494028098376

In [38]:
# It's better use copy()! Look: 

l1 = ['a', 'b', 'c']
l2 = l1
l1

['a', 'b', 'c']

In [39]:
l2

['a', 'b', 'c']

In [40]:
l2.append('d')
l2

['a', 'b', 'c', 'd']

In [41]:
l1

['a', 'b', 'c', 'd']

In [42]:
l1 == l2

True

In [43]:
id(l1)

140494028097672

In [44]:
id(l2) # same id! watch it.

140494028097672

In [45]:
# Slicing

list10 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list10[4:] #took the 4th and goes on

[4, 5, 6, 7, 8, 9, 10]

In [46]:
list10[4:6] #list[start:end] #item starts through end-1

[4, 5]

In [47]:
list10[-2:] # the last 2 items in the array

[9, 10]

In [48]:
list10[:-2] # everthing except the last 2 items

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [49]:
# sliceable[start:stop:step]
list10[::2] # os pares (pula de 2 em 2)

[0, 2, 4, 6, 8, 10]

In [50]:
list10[1::2] # os Ã­mpares

[1, 3, 5, 7, 9]

In [51]:
# and if I wanna know the index position of an item?

list10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
list10.index(6)

6

In [53]:
list10.index(20)

ValueError: 20 is not in list

In [54]:
list20 = [1, 2, 1, 3, 1, 4, 1, 5]
list20.count(1) # it counts the number of times the "1" appears in the list

4

In [55]:
list20.count(4)

1

In [56]:
list20.count(10)

0

In [57]:
list20.pop()

5

In [58]:
list20

[1, 2, 1, 3, 1, 4, 1]

In [59]:
list20.sort(reverse=True)

In [60]:
list20

[4, 3, 2, 1, 1, 1, 1]

In [61]:
# List Comprehensions

# Examples from https://docs.python.org/3/tutorial/datastructures.html

squares = []

for x in range(10):
    squares.append(x ** 2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [62]:
squares2 = [x ** 2 for x in range(10)]

In [63]:
squares2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

A list comprehension consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses.

In [64]:
combs = []

for x in [1, 2, 3]:
    for y in [3, 1, 5]:
        if x != y:
            combs.append((x, y))

combs

[(1, 3), (1, 5), (2, 3), (2, 1), (2, 5), (3, 1), (3, 5)]

In [67]:
# and in list comprehension format:

combs2 = [(x, y) for x in [1, 2, 3] for y in [3, 1, 5] if x != y]
combs2

[(1, 3), (1, 5), (2, 3), (2, 1), (2, 5), (3, 1), (3, 5)]

In [68]:
combs == combs2

True

In [69]:
vec = [-4, -2, 0, 2, 4]
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [71]:
# exclude negative numbers:

[x for x in vec if x >= 0]

[0, 2, 4]

In [72]:
# absolute in all numbers:

[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [74]:
freshfruit = ['   banana                ', 'passion fruit      ']
[weapon.strip() for weapon in freshfruit] # strip() removes the white spaces at the start and end, including spaces, tabs, newlines and carriage returns

['banana', 'passion fruit']

In [75]:
# list of 2-tuples like (number, square)

[(y, y**2) for y in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [76]:
# flatten a list using listcomp with two 'for'

vec = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
# in another words:

vec = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

new_list = []

for elem in vec:
    for num in elem:
        new_list.append(num)

new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']